.complement-container {
  padding-bottom: 2rem;
}

.complement-title {
  font-size: 2.9rem;
  font-weight: 100;
  padding: 3rem 0 2rem 0;
}

.complement-card {
  width: 20rem; /* Establecer un ancho fijo */
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
  display: flex; /* Asegurarte de que los hijos se alineen bien */
  flex-direction: column;
}

.complement-img {
  height: 19.4rem;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.complement-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.complement-img img:hover {
  transform: scale(1.1);
}

.complement-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

.complement-name {
  font-size: 2.3rem;
  font-weight: 400;
}

.complement-price {
  font-size: 2.7rem;
  font-weight: 700;
}

.swiper {
  padding: 2rem 5rem 1rem 5.5rem !important;
}
