* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.banner img {
  border: 2.5px solid blue;
  max-width: 420px;
}

.contentWrapper {
  box-sizing: border-box;
  margin: 50px auto;
  max-width: 1134px;
  width: 100%;
  padding: 0 13px;
  background-color: rgb(246, 247, 248);
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 300;
  font-family: Arial, sans-serif;

  justify-content: center;
}

.infoCard {
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  border: 1px solid rgb(35, 56, 139);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.leftPanel {
  width: 30%;
  background-color: rgb(255, 181, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.heading {
  font-size: 51px;
  color: rgb(35, 56, 139);
  line-height: 50px;
  padding-bottom: 18px;
  font-weight: 200;
}

.shareLabel {
  color: rgb(35, 56, 139);
  font-size: 16px;
}

.socialButton {
  margin-top: 5px;
}

.rightPanel {
  width: 70%;
  padding: 25px;
  position: relative;
}

.facebookEmbed {
  margin-top: 20px;
  border: none;
  overflow: hidden;
}
