.navigation-container {
  background-color: #fff;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);

  width: 100%;
  z-index: 5;
  /*height: 69px;*/
  max-height: 69px;
  font-size: 2rem;
  padding: 1.3rem 0;
  display: flex;
  align-items: center;
}

.navigation-content {
  /* display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;*/
  max-width: 1134px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Menú de navegación */
.navigation-menu {
  display: flex;
  width: 870px;
  justify-content: space-between;
  padding: 0 74px 0 0;
  /*justify-content: space-between;*/
  /*padding: 0 74px 0 0;*/
  /* flex: 1;*/
  /* margin-left: 300px;*/
}

.nav-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  /*margin: 5px;*/
}

.main-top-center {
  width: 179px;
  /* width: 10%;
  margin-right: 15px;*/
}

.nav-menu-item a {
  color: #243986;
  display: flex; /* Hace que el contenido se alinee en línea */
  gap: 0.6rem;
  align-items: center; /* Centra verticalmente el texto con la imagen */
  text-decoration: none;
  font-size: 2.4rem;
}

.nav-menu-item a img {
  width: 36px;
  height: 26px;
}

.nav-menu-item a:hover {
  border-bottom: 3px solid #e53935;
  transition: height 0.3s ease;
  transition: all 0.2s ease;
  padding-bottom: 0.2rem;
}

.nav-menu-item img {
  margin-right: 1px;
  width: 20px;
  /* Separación entre el ícono y el texto */
}

/* Submenú de Promociones */
.nav-menu-item.hasSubs {
  position: relative;
}

.hoversubs {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0px;

  top: 99%;
  list-style: none;
  -webkit-animation-name: fadeInOpacity-data-v-1a0fdd4b;
  animation-name: fadeInOpacity-data-v-1a0fdd4b;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.hoversubs li a {
  color: #243986;
  text-decoration: none;
  font-size: 10px;
  padding: 5px 2px;
  display: block;
  width: 150px;
}
.nav-menu-item:hover .hoversubs {
  display: block;
}

/* Estilo de cada elemento del submenú */
.hoversubs li {
  border-bottom: 1px solid #173083; /* Línea azul entre opciones */

  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Elimina la línea azul del último elemento del submenú */
.hoversubs li:last-child {
  border-bottom: none;
}

/* Estilo de los enlaces dentro del submenú */

/* Cambia el color de fondo y el color del texto al pasar el ratón por encima de una opción */
.hoversubs li:hover {
  background-color: #173083;
  border-radius: 20px; /* Fondo azul */
}

.hoversubs li:hover a {
  color: #fbb905; /* Texto amarillo */
}
.nav-menu-item.hasSubs:hover .hoversubs {
  display: block; /* Mostrar el submenú al pasar el ratón */
}

.hoversubs li {
  list-style: none;
  margin-bottom: 10px;
}

/* Estilos para el contenedor del carrito */
.navigation-cart {
  /* padding: 12px 0;*/
  display: flex;
  gap: 3rem;
  /*justify-content: space-around;*/
  /*align-items: center;*/
  /*margin-right: 150px;*/
}
.navigation-cart button {
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
  position: relative;
  /*width: 72px;*/
  cursor: pointer;
  background: #fbb905;
  border-radius: 25px;
  padding: 0 1rem;
  /*font-family: din1451;*/
  /*color: #373d42;*/
  /*font-size: 30px;*/
  /*border: none;*/
  /*outline: 0;*/
  /*  padding: 6px 20px;*/
}
.btn_recojo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: #fbb905;
  border-radius: 25px;
  cursor: pointer;
  /*width: 179px;*/
  /*margin-right: 13px;*/
}

.text_recojo_red {
  color: #e10b19;
  text-transform: uppercase;
  font-weight: bold;
}

.icono-tienda {
  width: 26px;
  height: 30px;
}

.text_recojo {
  font-size: 16px;
  color: #21388b;
  text-align: center;
}

.btn-cart-img {
  padding: 0.5rem 1rem;
}

.btn-cart-img img {
  height: 32px;
  width: 32px;
  border-radius: inherit;
}

/* Estilos para el botón del carrito */

.navigation-cart p {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-view {
  display: none;
}

/*  Responsive  */
@media (max-width: 480px) {
  .navigation-content {
    padding: 0 1rem;
  }

  .desktop-view {
    display: none;
  }
}
