.pedidoContainer {
  /*padding-top: 200px;*/
  max-width: 1114px;
  margin: 0 auto;
  background-color: #ffffff;
}

.pedido-body {
  width: 1014px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.pedido-title {
  color: #21388b;
  font-size: 2.8rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 2rem 0;
}

.tipos-container {
  display: grid;
  /*grid-template-columns: repeat(3, 277px);*/
  /*grid-template-columns: repeat(3, auto);*/
  grid-template-columns: repeat(3, 297px);
  gap: 5rem;
  width: 994px;
  margin: 0 auto;
}

.tipo-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
}

.tipo-item-img {
  width: 100%;
  height: 255px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}

.item-img-product {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  transition: all 0.4s;
}

.item-img-product:hover {
  transform: scale(1.1);
}

.item-img-fav {
  position: absolute;
  top: 18px;
  right: 18px;
}

.tipo-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1.5rem 0;
}

.tipo-item-name {
  font-size: 2.3rem;
  font-weight: 400;
}

.tipo-item-price {
  margin-top: 2rem;
  font-size: 2.7rem;
  font-weight: 700;
}

.tipo-item-terms {
  color: #000000;
  text-decoration: underline;
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.tipo-item-btn {
  font-size: 2rem;
  background-color: #193694;
  color: #ffffff;
  width: 85%;
  border-radius: 25px;
  padding: 0.9rem 0;
  margin-top: 2rem;
}

.producto-container {
  /* display: grid;
  grid-template-columns: 370px auto;
  gap: 2rem;*/
}

.producto-left-container {
  position: fixed;
  top: 200px;
  /*  background: rgba(255, 0, 0, 0.5);*/
  z-index: 2;
}

.producto-left-route {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1.5rem 0;
}

.producto-left-route a {
  font-size: 1.9rem;
}

.producto-left-image {
  width: 350px;
  height: 340px;
}

.producto-left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-right-container {
  padding-top: 20rem;
  padding-left: 400px;
  padding-bottom: 25rem; /*Final*/
}

.product-right-txt {
  padding-bottom: 3.3rem;
}

.product-right-title {
  font-size: 3rem;
  font-family: 'kulturista';
  color: #23388b;
}

.product-right-description {
  font-size: 1.4rem;
  font-family: 'kulturista';
  padding: 1.5rem 0;
}

.product-right-choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #707070;
  cursor: pointer;
}

.choose-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choose-number {
  font-size: 1.2rem;
  background-color: #ffb500;
  height: 23px;
  width: 23px;
  text-align: center;
  border-radius: 50%;
  padding-top: 0.5rem;
  font-weight: 700;
}

.choose-question {
  font-size: 2.4rem;
  color: #21388b;
  font-weight: 700;
}

.choose-img {
  width: 20px;
  height: 20px;
  display: none; /*Esconder*/
}

.product-choose-chips {
  /*display: flex;*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem 0 3rem 0;
}

.combo-card {
  /*width: 132px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.combo-img {
  width: 79px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 10px;
}

.combo-img img {
  width: 55px;
  height: 55px;
}

.combo-img.active {
  border: 3px solid #21388b;
}

.combo-title {
  font-size: 1.3rem;
  font-family: Arial;
  font-size: 100;
  text-align: center;
}

.producto-footer {
  position: fixed;
  bottom: 0;
  background-color: #f6f7f8;
  box-shadow: 0 0 6px -3px #000;
  z-index: 55;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.producto-footer-container {
  display: flex;
  padding: 1.5rem 0;
  gap: 10rem;
}

.footer-count {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-count span,
.footer-btn-add {
  font-family: 'kulturista';
}

.product-count {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-count-btns {
  display: flex;
  align-items: center;
}

.product-minus,
.product-plus {
  font-size: 2.7rem;
  background-color: #dbe0e3;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-bottom: 1rem;
  cursor: pointer;
}

.product-plus {
  padding-top: 0.4rem;
}

.product-number {
  font-size: 1.2rem;
  background-color: #ffffff;
  width: 4.4rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btn-add {
  background-color: #21388b;
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2.5rem;
  padding: 1.3rem 4rem;
}

/*.product-description p{
    padding-right: 37px;
}

.product-details{
    width: 745px;
    padding-left: 15px;
}

.custom-button , .custom-button2{
    box-sizing: border-box;
    margin: 0 0 10px;
    width: 200px;
    height: 37px;
    padding: 5px;
    font-family: din1451;
    font-size: 23px;
    color: rgb(33, 56, 139);
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    border-bottom: 3px solid rgb(255, 181, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 400;
  }

  .item-container {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 25px;
 
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: start;
    font-weight: 300;
    font-family: din1451;
  }
  
  .items {
    box-sizing: border-box;
    margin: 0;
  }
  
  .item {
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    width: 150px;
    height: 109px;
    text-align: center;
    float: left;
    position: relative;
  }
  
  .hidden-checkbox {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
  }
  
  .image-container {
    box-sizing: border-box;
    margin: 0;
    width: 70px;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item-name {
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    font-family: Kulturista;
    padding-right: 81px;
  }
  
  .item-price {
    box-sizing: border-box;
    margin: 0;
    color: rgb(33, 56, 139);
    font-size: 14px;
    font-weight: 700;
    font-family: Kulturista;
    padding-right: 81px;
  }
  
  */
