footer {
    background-color: #14148A; 
    padding: 20px 0; 
}

.footer-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    color: #fff; 
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.social-icons a {
    color: #fff;
    margin: 0 10px; 
    text-decoration: none;
}

.social-icons img{
    max-width: 50px;
}


.footer-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

.footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #cccccc; 
}

#logo-bembos {
    width: 140px;
    margin-top: 0;
}

.payment-options {
    flex: 1;
    text-align: center;
    margin-top: 10px;
}

.payment-options p {
    color: #fff;
    margin-bottom: 15px; 
}

.payment-img {
    display: block; 
    margin: 10px auto; 
    max-width: 60px; 
}

.safetypay-img {
    display: block;
    margin: 20px auto;
    max-width: 100px;
}

.receipt-button {
    margin-top: 30px;
    background-color: #FFB300;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #000;
}

.newsletter {
    flex: 1;
    text-align: right;
    margin-top: 10px;
}

.newsletter p {
    color: #fff;
    margin-bottom: 8px;
}

.newsletter input[type="email"] {
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    border: none;
}

.newsletter button {
    background-color: #FFB300;
    padding: 10px 15px;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}

.terms-checkbox {
    margin-top: 10px;
}

.newsletter input[type="checkbox"] {
    margin-right: 5px;
}

.terms-label {
    color: #fff;
    font-size: 12px;
}

.complaints-img {
    display: block;
    margin-top: 10px;
    max-width: 90px;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    font-size: 12px;
    border-top: 1px solid #fff;
    padding: 10px 0;
    margin-top: 20px;
}
