/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');*/

@font-face {
  font-family: 'din1451';
  src: url(/public/fonts/din1451/Din1451-Regular.woff);
}

@font-face {
  font-family: 'kulturista';
  src: url(/public/fonts/kulturista/Kulturista-Regular.woff);
}

@font-face {
  font-family: 'kulturista';
  src: url(/public/fonts/kulturista/Kulturista-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: 'kulturista';
  src: url(/public/fonts/kulturista/Kulturista-Semibold.woff);
  font-weight: 600;
}

@font-face {
  font-family: 'ChickenSans';
  src: url(/public/fonts/chickenSans/ChickenSans-Regular.woff);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'din1451', sans-serif;
  /*font-family: 'Archivo Narrow', sans-serif;*/
}

html {
  font-size: 62.5%;
}

body {
  font-family: din1451;
  font-size: 1.6rem;
  background-color: #f2f2f2;
}

.container-width {
  max-width: 1130px;
  margin: 0 auto;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #1a317e;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
